# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
